<nav class="navbar navbar-expand-lg text-center">
  <a href="/home" class="navp"
    ><i class="fi fi-rr-house-chimney"></i>
    <p>Inicio</p></a
  >
  <a href="/alianzas" class="navp"
    ><i class="fi fi-rr-info"></i>
    <p>Informaciones</p></a
  >
  <a href="#" class="navp"
    ><i class="fi fi-rr-headset"></i>
    <p>Contacto</p></a
  >
  <a href="#" class="navp"
    ><i class="fi fi-rr-sign-in-alt"></i>
    <p>Conectarse</p></a
  >
  <a href="#" class="navp"
    ><i class="fi fi-rr-exit"></i>
    <p>Registrarse</p></a
  >
</nav>
