<div class="container-fluid">
  <div class="row">
    <h1>Grupos de alianzas para el proyecyo</h1>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Conservación sin Fronteras</h5>
        <p class="card-text">A qué se dedica conservación sin fronteras</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">CMRP</h5>
        <p class="card-text">A qué se dedica el grupo de CMRP</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Cobius</h5>
        <p class="card-text">A qué se dedica Cobius.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Monkey Sanctuary & Rescued Animals</h5>
        <p class="card-text">
          A qué se dedica Mokey Sanctuary & Rescued Animals
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col">
      <h1>De qué se encarga el grupo</h1>
      <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
