:root {
  --fondo1: #030703;
  --fondo2: #5b6e5b;
  --fondo3: #5b6e5b63;
  --acento1: #4f772d;
  --acento2: #90a955;
  --fuente1: "Calibri";
  --fuete2: "Arial";
  --colortexto: #f5f5f5;
  --radio: 10px;
  --tamaño1: 1em;
  --ltitulo: 4em;
  --ltitulo1: 6em;
  --espaciado: 20px;
}

::-moz-selection {
  background: var(--acento2);
}
a {
  text-decoration: none !important;
  color: var(--colortexto);
  transition: all 400ms ease-in-out;
  font-weight: 600;
}
a:hover {
  text-decoration: none !important;
  color: var(--acento1);
}
*::selection {
  background: var(--acento2);
  color: var(--colortexto);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo1);
  font: 800 13px var(--fuente1);
  color: var(--colortexto);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}

/* You can add global styles to this file, and also import other style files */
/**NAVBAR**/

.navbar {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  z-index: 999;
  position: fixed;
  width: calc(100% - 20px);
  font-size: 15px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link i {
  margin-right: 10px;
  color: var(--colortexto);
  background-color: var(--acento2);
  padding: 5px;
  font-size: 12px;
  border-radius: var(--radio);
  display: flex;
  align-items: center;
  justify-content: center;
}
/**CONTENIDO DE LA PAGINA**/

.ptitulo {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Alouatta_pigra_Belize_Zoo_2.jpg/1920px-Alouatta_pigra_Belize_Zoo_2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: var(--radio);
  margin: 8% 0 20px 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tit {
  text-shadow: 1px 1px 1px var(--fondo1);
  background-color: #90a95552;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--fuete2);
  font-size: 20px;
  line-height: 1em;
  text-transform: uppercase;
  padding: 40px;
  font-weight: 800;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: var(--radio);
}

.panora {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--acento2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: var(--radio);
  font-size: 1em;
}

.panora h1 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 800;
  color: var(--colortexto);
  letter-spacing: 10px;
  background-color: var(--acento1);
  padding: 10px;
  border-radius: var(--radio);
  filter: drop-shadow(1px 1px 20px var(--fondo1));
}

.panora p {
  z-index: 9;
  font-size: 20px;
  padding: 10px;
}

.panora b {
  background-color: var(--acento1);
  color: var(--colortexto);
  padding: 10px;
  float: right;
  border-radius: var(--radio);
  font-size: 12px;
}

.qot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40px;
}
.qot i {
  font-size: 80px;
  color: var(--colortexto);
  filter: drop-shadow(1px 1px 20px var(--acento2));
}

.efectos h1 {
  margin: 5% 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 2px;
  border-bottom: 10px solid var(--acento1);
  line-height: 17px;
}

.factor {
  background-color: var(--fondo2);
  height: 400px;
  overflow: hidden !important;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  border-radius: var(--radio);
  transition: all 300ms;
  position: relative;
}

.factor img {
  width: 100%;
  height: 100%;
  position: relative;
  filter: grayscale(0);
  transition: 300ms ease-in-out;
}

.factor:hover img {
  filter: grayscale(1);
  transition: 300ms ease-in-out;
  transform: scale(1.2, 1.2);
}

.factor:hover .hover1 {
  opacity: 0;
  transition: 400ms ease-in-out;
}

.hover1 {
  background-color: transparent;
  height: 400px;
  width: 390px;
  position: absolute;
  border-radius: var(--radio);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: var(--fuente1);
  transition: 300ms ease-in-out;
  font-size: 12px;
  overflow: hidden;
  z-index: 9;
  opacity: 1;
}

.hover1 h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: var(--fuete2);
  text-align: center;
  line-height: 15px;
  background-color: var(--acento1);
  padding: 10px;
  border-radius: var(--radio);
  filter: drop-shadow(1px 1px 3px var(--fondo1));
  transition: 300ms ease-in-out;
  max-width: 300px;
  max-height: 100px;
}

.factor:hover .hover2 {
  opacity: 1;
}

.hover2 {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  background-color: #293d177c;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover2 p {
  font-family: var(--fuete2);
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.efectos h2 {
  text-align: center;
  margin: 30px;
}

.mexico {
  background-color: var(--fondo2);
  margin: 5% 0 0 0;
  border-radius: var(--radio);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  font-size: 15px;
  line-height: 17px;
}

.mexico .col:nth-child(1) p {
  padding: 40px;
}

.mexico .col:nth-child(2) {
  background: #191f19;
  height: 100%;
  padding: 40px;
}

.mexico .col:nth-child(2) h1 {
  background-color: #4f772d;
  padding: 10px;
  border-radius: var(--radio);
  margin: 0 0 20px 0;
  max-width: 400px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mexico .col:nth-child(2) span p {
  margin: 10px;
}

.mexico .col:nth-child(2) b {
  margin: 10px;
  float: right;
}

/**FOOTER**/

footer {
  background-color: #191f19;
  margin-top: 5%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.partefinal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100%);
  margin-top: 30px;
}

.final {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  width: auto;
  text-align: left;
}

.final h2 {
  font-size: 20px;
  background-color: var(--acento1);
  padding: 10px;
  border-radius: var(--radio);
  text-transform: uppercase;
  max-width: 200px;
}

.final a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}

.contacti {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100%);
}

.linea {
  width: calc(100%);
  height: 1px;
  background-color: var(--acento2);
  margin: 0 0 20px 0;
}

.autor {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/**REGISTRO**/
.registro .register-photo {
  position: relative;
  top: 80px;
  margin-bottom: 10px;
}

.register-photo {
  background: var(--acento2);
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url("https://cdn.futura-sciences.com/cdn-cgi/image/width=1920,quality=60,format=auto/sources/images/dossier/1308/13-1308.jpg");
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width: 991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
  margin: 10px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
  margin: 10px;
}

.register-photo form .btn-primary {
  background: var(--acento1);
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  margin-bottom: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
  background: var(--fondo1);
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

/**CONECTARSE**/

.card {
  background-color: var(--acento2);
  padding: 40px;
  top: 80px;
}

.conect .form-label,
.conect .col {
  font-size: 0.8em;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.form-check input {
  width: 20px;
  height: 20px;
}

.btn {
  background-color: var(--acento1);
  border: none;
}

.btn:hover {
  background-color: var(--fondo2);
}

/**GRUPO**/

.card {
  width: 18rem;
  margin: 10px;
}
