<footer>
  <div class="container">
    <h1>ESTRATEGIA MEXICANA PARA LA CONSERVACIÓN DE PRIMATES</h1>
    <div class="row partefinal">
      <div class="col final">
        <h2>Navegación</h2>
        <a href="/" title="Inicio">Inicio</a>
        <a
          href="/"
          title="Alianza que conforma la estrategía mexicana para la conservación de primates"
          >Quienes somos</a
        >
        <a href="/" title="División de tareas">¿Qué hacemos?</a>
        <a href="/" title="Qué ofrecemos">¿Servicios?</a>
        <a href="/" title="Suscribirse a la pagina">Subscripción</a>
      </div>

      <div class="col final">
        <h2>Redes sociales</h2>
        <a href="#">Facebook</a>
        <a href="#">X</a>
        <a href="#">Instagram</a>
      </div>

      <div class="col final">
        <h2>Agradecimientos</h2>
      </div>
    </div>

    <div class="contacti">
      <h2>Contacto</h2>
      <p>09 38402 838402</p>
    </div>
    <div class="linea"></div>
    <div class="autor">Copyright @2024 Yanelsy H. T.</div>
  </div>
</footer>
