<div class="container-fluid">
  <div class="row">
    <div class="col-12 ptitulo">
      <div class="tit">
        ESTRATEGIA MEXICANA PARA LA CONSERVACIÓN DE PRIMATES
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm">
      <div class="qot"><i class="fi fi-sr-message-quote"></i></div>
    </div>
    <div class="col-lg-9 col-sm-12">
      <div class="panora">
        <h1>El problema</h1>
        <p>El problema de tráfico de primates es a nivel global</p>
        <p>
          A nivel global todas las especies de primates están en peligro de
          extinción, por la destrucción de los bosques tropicales, la caza
          comercial de carne de animales silvestres y el tráfico de especies.<br />
          <b>UICN, 2010. </b>
        </p>
      </div>
    </div>
  </div>

  <div class="row efectos">
    <h1>Factores Principales de Riesgo</h1>
    <h2>
      <i class="fi fi-rr-quote-right"></i> Estos son los principales factores de
      riesgo que amenazan as los primates en mexico y el mundo.
    </h2>
    <div class="col">
      <div class="factor">
        <img
          src="https://www.dgcs.unam.mx/boletin/bdboletin/multimedia/WAV160125/054%20(1).jpg"
          title="Tráfico de especies"
        />
        <div class="hover1"><h2>Tráfico de especies</h2></div>
        <div class="hover2">
          <p>
            Explotación directa a travéz de actividades como la cacería, ya sea
            deportiva o para el tráfico ilegal.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="factor">
        <img
          src="https://cdn0.ecologiaverde.com/es/posts/5/6/9/_1965_5_600.webp"
          title="Destrucción y fracturación de habitat"
        />
        <div class="hover1">
          <h2>Destrucción y fragmentación de habitat</h2>
        </div>
        <div class="hover2">
          <p>
            División continua del hábitat en fragmentos o secciones que dividen
            a la población y limita su acceso a recursos.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="factor">
        <img
          src="https://www.gob.mx/cms/uploads/document/main_image/43279/cotorra.jpg"
          title="Introducción de especies exoticas invasoras"
        />
        <div class="hover1">
          <h2>Introducción de especies exóticas invasoras</h2>
        </div>
        <div class="hover2">
          <p>
            Las especies exoticas se definen como aquellas que no son nativas de
            un país o región al que llegan de manera intencional o accidental.
            Estas especies en la mayoría de los casos desplazan a las
            comunidades nativas y esto contribuye a la extinción de la especie.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
